* {
  box-sizing: border-box;
}

#content {
  float: left;
  margin: auto;
  padding: 15px;
  width: 75%;
}

#footer {
  background-color: #ddd;
  color: #000;
  margin: auto;
  padding: 15px;
  width: 100%;
}

#header {
  background-color: #006;
  color: #fff;
  margin: auto;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 5px;
  max-height: 225px;
  max-width: 300px;
}

#button-container {
  align-items: center;
  display: flex;
  justify-content: center;
} 

.list-title {
  font-weight: bold;
  font-size: large;
}

#nav {
  float: left;
  margin: auto;
  padding: 15px;
  width: 25%;
}

.profile-pic {
  border-radius: 50%;
  float: left;
  margin: 10px;
  max-height: 150px;
  max-width: 150px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#random-image-container {
  margin: 10px;
}
