* {
  box-sizing: border-box;
}

#content {
  float: left;
  margin: auto;
  padding: 15px;
  width: 75%;
}

#footer {
  background-color: #ddd;
  color: #000;
  margin: auto;
  padding: 15px;
  width: 100%;
}

#header {
  background-color: #006;
  color: #fff;
  margin: auto;
  padding: 15px;
  text-align: center;
  width: 100%;
}

#nav {
  float: left;
  margin: auto;
  padding: 15px;
  width: 25%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#greeting-container {
  margin-top: 20px;
}
