* {
  box-sizing: border-box;
}

.card {
  border: 1px solid lightskyblue;
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
}

.card-date {
  color: grey;
  font-size: smaller;
}

.card-hr {
  border: .5px solid lightgrey;
}

.card-text {
  margin: .5em 0;
}

.card-title {
  margin: 1px;
}

.close-button {
  background-color: #f44336;
  border: 2px solid white;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  margin: 5px;
  padding: 5px;
  width: 80%;
}

#content {
  float: left;
  margin: auto;
  padding: 15px;
  width: 75%;
}

#delete-comments {
  background-color: white;
  border: 2px solid #f44336;
  border-radius: 12px;
  color: black;
  padding: 14px 30px;
  transition-duration: 0.4s;
}

#delete-comments:hover {
  background-color: #f44336;
  color: white;
}

#expanded-image-container {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
}

#expanded-image {
  border-radius: 15px;
  height: auto;
  margin: 5px;
  width: 80%;
}

#footer {
  background-color: #ddd;
  color: #000;
  margin: auto;
  padding: 15px;
  width: 100%;
}

#header {
  background-color: #006;
  color: #fff;
  margin: auto;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  max-height: 225px;
  max-width: 300px;
}

#button-container {
  align-items: center;
  display: flex;
  justify-content: center;
} 

.list-title {
  font-weight: bold;
  font-size: large;
}

#nav {
  float: left;
  margin: auto;
  padding: 15px;
  width: 25%;
}

.profile-pic {
  border-radius: 50%;
  float: left;
  margin: 10px;
  max-height: 150px;
  max-width: 150px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#random-image-container {
  margin: 10px;
}
